<!DOCTYPE html>
<html>
<head>
    <meta charset = "ISO-8859-1" />
    <title>SSl Demo</title>
</head>
<body style="text-align:center;">
<h1>It's a joke, look down.</h1>

<div>
    <a href="/1984.pdf">
        <button>
            <h3> Get the 1984 book</h3>
        </button>
    </a>
    <br>
</div>
<div>
    <p> Eight of them are males.</p>
    <img src="/iran.webp" width="50%" >
</div>
<div>
    <img src="https://live-s3-bucket-6bjrdtnk7ph2.cdn.live.tandem.net/dd/56/1904f1900b0041b651afb69432610c1a.jpg" width="50%" >
</div>
<div>
    <img src="/girl.jpg" width="50%" >
</div>

<img src="https://live-s3-bucket-6bjrdtnk7ph2.cdn.live.tandem.net/47/dd/b18a61e5a652988a3f723ef28f12b2a8.jpg" width="50%" >
</body>
</html>